<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/register">register</a>
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <h1>Login</h1>
        <form action="/login" method="post">
            <input type="text" name="username" placeholder="Username" value=<%= username %>>
            <br>
            <input type="password" name="password" placeholder="password" value=<%= password %>>
            <br>
            <input type="submit" value="login" />
        </form>
        <footer>
            Copyright Mr. Fox 2024
        </footer>
    </body>
</html>