<!DOCTYPE html>
<html>
    <head>
        <title>logout</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/register">Home</a>
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <h1>Logout</h1>
        <footer>
        
        </footer>
    </body>
</html>