<!DOCTYPE html>
<html>
    <head>
        <title>profile</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="/profile">Home</a>
                <a href="/login">Login</a>
                <a href="/logout">Logout</a>
            </nav>
        </header>
        <h1><%username%>'s profile</h1>
        <footer>
            
        </footer>
    </body>
</html>