<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <script src="/js/client-validation.js" defer></script>
</head>
<body>
    <h1>Register</h1>
    <form action="/register" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required><br>

        <label for="age">Age:</label>
        <input type="number" id="age" name="age" required><br>

        <label for="question1">Question 1: What is your preferred gaming medium?</label>
        <select id="question1" name="What is your preferred gaming medium?">
            <option value="">Selection an answer...</option>
            <option value="PC">PC</option>
            <option value="Console">Console</option>
            <option value="Mobile">Mobile</option>
        </select><br>

        <label for="question2">Question 2: What is your favorite color?</label>
        <select id="question2" name="What is your favorite color?">
            <option value="">Selection an answer...</option>
            <option value="Blue">Blue</option>
            <option value="Red">Red</option>
            <option value="Yellow">Yellow</option>
        </select><br>

        <label for="question3">Question 3: What is your favorite gaming genre?</label>
        <select id="question3" name="What is your favorite gaming genre?">
            <option value="">Selection an answer...</option>
            <option value="FPS">FPS</option>
            <option value="Rogue-likes">Rogue-likes</option>
            <option value="Fighting Games">Fighting Games</option>
        </select><br>

        <button type="submit">Register</button>
    </form>
</body>
</html>
